<h1>Welcome#second</h1>
<p>Find me in app/views/welcome/second.html.erb</p>
<div>
  <p>这是Logo</p>
  <img src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/logo_white_fe6da1ec.png" alt="">
</div>
